{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ object|verbose_name:'plural' }} verwijderen
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
<a href="{% url object|reverse_url:'list' %}">{{ object|verbose_name:'plural' }}</a>
<span>&rsaquo;</span>
{% if object.label %}{{ object.label }}{% else %}{{ object.name }}{% endif %}
<span>&rsaquo;</span>
Verwijderen
{% endblock %}

{% block content %}
<h2>Verwijder {% if object.label %}{{ object.label }}{% else %}{{ object.name }}{% endif %}</h2>
<p>
    Weet je zeker dat je '{% if object.label %}{{ object.label }}{% else %}{{ object.name }}{% endif %}' wilt verwijderen?
</p>
{% if locations_affected > 0 %}
<p>
    Door deze wijziging worden {{ locations_affected }} locaties aangepast.
</p>
{% endif %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url object|reverse_url:'delete' object.id %}">Verwijderen</button>
        <a href="{% url object|reverse_url:'update' object.id %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}