{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ model|verbose_name:'plural' }}
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
{{ model|verbose_name:'plural' }}
{% endblock %}

{% block content %}
<h2>{{ model|verbose_name:'plural' }}</h2>
<div class="page-content">
    <table class="table-adam">
        <thead>
            <tr>
                <th scope="col">Omschrijving</th>
                <th scope="col">Gegevens type</th>
                <th scope="col">Zichtbaar voor niet ingelogde gebruikers</th>
                <th scope="col">Groeperen in</th>
                <th scope="col" class="column-pancode">Volgorde</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'locations_urls:locationproperty-update' object.id %}">
                    {{object.label}}
                    </a>
                </td>
                <td>
                    {{ object.get_property_type_display }}
                </td>
                <td>
                {{ object.public|yesno:"☒,☐" }}
                </td>
                <td>
                    {{ object.group|default_if_none:"" }}
                </td>
                <td>
                    {{ object.order }}
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-container">
        <a href="{% url 'locations_urls:locationproperty-create' %}" class="btn btn-secundair">Toevoegen</a>
    </div>
</div>
{% endblock %}
