{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ object.option }} wijzigen
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-list' %}">{{ object.location_property|verbose_name:'plural' }}</a>
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-update' object.location_property.id %}">{{ object.location_property.label }}</a>
<span>&rsaquo;</span>
{{ object.option }}
<span>&rsaquo;</span>
Wijzigen
{% endblock %}

{% block content %}
<h2>Wijzig optie {{ object.option }} in {{ object.location_property.label }}</h2>

<form action="." method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="data-view-row">
        <div class="data-label">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% if field.field.required %}<span class="required-field">*</span>{% endif %}
        </div>
        <div class="data-value">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'locations_urls:propertyoption-update' object.location_property.id object.id %}">Opslaan</button>
        <a href="{% url 'locations_urls:propertyoption-list' object.location_property.id %}" class="btn btn-secundair">Annuleren</a>
        <a href="{% url 'locations_urls:propertyoption-delete' object.location_property.id object.id %}" class="btn btn-secundair">Verwijderen</a>
    </div>
</form>

{% endblock %}