ENVIRONMENT = 'local'
DEBUG = '1'
SECRET_KEY = 'django-insecure-$qv#&v&7g^-n98le=0xrw7f2=dt+_105m6=$n8v8m(b-pwsoi$'
ALLOWED_HOSTS = 'localhost'
DATABASE_NAME = 'fbl'
DATABASE_HOST = 'database'
DATABASE_PORT = '5432'
DATABASE_USER = 'fbl'
DATABASE_PASSWORD = 'insecure'
CSRF_TRUSTED_ORIGINS = 'http://localhost,https://localhost'
CSRF_COOKIE_SECURE = 0
SECURE_SSL_REDIRECT = 0