ENVIRONMENT = 'development'
DEBUG = '1'
SECRET_KEY = 'django-insecure-i8i)ze*tovd7=dz@c+thgc0_%8_tcs8$wqqo2p&7jb_b#+4n75'
ALLOWED_HOSTS = 'localhost'
DATABASE_NAME = 'example_database'
DATABASE_HOST = 'postgres'
DATABASE_PORT = '5432'
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = 'very_str0ng_p@ssword!'