# project folders
.git-ignore/
datafundament_fb/static/

# project files
*.sqlite3
*/*.sqlite3
*.sqlite3-journal
*/*.sqlite3-journal

#/docs
#/settings
.tmp/

# Certificates
*.pem
*cert.key
*cert.crt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
cmd_in_venv.cmd

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Django stuff:
*.log

# DotEnv configuration
*.env

# Database
*.db
*.rdb

# VS Code
.vscode/
*.code-workspace

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
#/data/
/support/data_lake/
data/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# webserver
*web.config