uwsgi
Django
django-csp
django-extensions
django-storages[azure]
psycopg2-binary
pyodbc
wfastcgi
azure-core
azure-identity
azure-keyvault
azure-keyvault-secrets

# Amsterdam packages
amsterdam-django-oidc

# OTEL
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
