{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}
{% load static %}


{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/ggd_base.css' %}">
<link rel="stylesheet" href="{% static 'css/ggd_components.css' %}">
<link rel="stylesheet" href="{% static 'css/ggd_buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/ggd_header.css' %}">
<link rel="stylesheet" href="{% static 'css/ggd_pages.css' %}">
{% endblock %}

{% block branding %}
<h1>
  <a href="/">
    <div id="site-logo">
      <img src="{% static 'images/logo-gemeente-amsterdam.svg' %}" class="site-logo-large" alt="Logo Gemeente Amsterdam" />
      <img src="{% static 'images/logo-gemeente-amsterdam-small.svg' %}" class="site-logo-small" alt="Logo Gemeente Amsterdam" />
    </div>
    <div id="site-name">{{ site_header|default:_('Datafundament Facilitair Bureau') }}</div>
  </a>
</h1>
{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}
<nav>
  <ul>
    {% if user.is_anonymous %}
    <li><a href="{% url 'admin:login' %}?next={{ request.path }}">Inloggen</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'location-admin' %}">Beheer</a></li>
    <li><form id="logout-form" method="post" action="{% url 'admin:logout' %}">
      {% csrf_token %}
      <button type="submit">Uitloggen</button>
    </form></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}

{% block nav-sidebar %}{% endblock %}