@font-face{
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Light.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Light.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Light.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-Light.woff) format("woff")
}
@font-face{
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Regular.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Regular.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Regular.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-Regular.woff) format("woff")
}
@font-face{
  font-family: "amsterdam sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Italic.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Italic.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Italic.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-Italic.woff) format("woff")
}
@font-face{
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Bold.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Bold.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-Bold.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-Bold.woff) format("woff")
}
@font-face{
  font-family: "amsterdam sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-BoldItalic.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-BoldItalic.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-BoldItalic.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-BoldItalic.woff) format("woff")
}
@font-face{
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-ExtraBold.eot?#iefix);
  src: url(../fonts/AmsterdamSans/woff2/AmsterdamSans-ExtraBold.eot?#iefix) format("eot"),
       url(../fonts/AmsterdamSans/woff2/AmsterdamSans-ExtraBold.woff2) format("woff2"),
       url(../fonts/AmsterdamSans/woff/AmsterdamSans-ExtraBold.woff) format("woff")
}

:root,
html[data-theme="light"] {
  --header-bg: #ffffff;
  --header-branding-color: #000000;
  --header-color: #000000;
  --header-link-color: #000000;
  --color-blue: #004699;
  --color-dark-blue: #00387a;
  --color-grey: #b4b4b4;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-family-primary: "amsterdam sans", "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html[data-theme="dark"] {
  --header-bg: #000000;
  --header-branding-color: #ffffff;
  --header-color: #ffffff;
  --header-link-color: #ffffff;
}

/*******************************************/

BODY {
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

/*******************************************/

H1, H2, H3, H4, H5, H6 {
  font-family: "amsterdam sans"; /* heavy */
  font-weight: 700;
  color: var(--body-loud-color);
}

H1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
H2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
H3 { font-size: 1.25rem; }
H4 { font-size: 1.125rem; }
H5 { font-size: 1rem; }

/*******************************************/
* + h2 {
  margin-top: 1rem;
}

h2 + small {
  display: block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

/*******************************************/

a,
a:link,
a:visited {
  color: var(--color-blue);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--color-dark-blue);
  text-decoration: none;
}

/*******************************************/

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
  padding: 0;
}

li, dt, dd {
  font-size: 1rem;
  line-height: 1.5rem;
}


/*******************************************/

button {
  font-family: "amsterdam sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}