{% extends 'locations/generic-list.html' %}
{% load i18n static admin_urls admin_modify %}

{% block content %}
{{ block.super }}
<div class="page-content">
    <table class="table-adam">
        <thead>
            <tr>
                <th scope="col" class="column-pancode">Volgorde</th>
                <th scope="col">Externe API</th>
                <th scope="col">Zichtbaar voor niet ingelogde gebruikers</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{ object.order }}
                </td>
                <td>
                    <a href="{% url 'externalservice-update' object.id %}">
                    {{object.name}}
                    </a>
                </td>
                <td>
                {{ object.public|yesno:"☒,☐" }}
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-container">
        <a href="{% url 'externalservice-create' %}" class="btn btn-secundair">Aanmaken</a>
    </div>
</div>
{% endblock %}
