{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'locations_urls:location-list' %}">Home</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url 'externalservice-list' %}">Externe koppelingen</a>
    <span>&rsaquo;</span>
    {{ object.name }} wijzigen
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<h2>{{ object.name }}</h2>

<form action="." method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="data-view-row">
        <div class="data-label"><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
        <div class="data-value">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'externalservice-update' object.id %}">Opslaan</button>
        <a href="{% url 'externalservice-list' %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}