{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'location-list' %}">{% translate 'Home' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    <span>&rsaquo;</span>
    {% translate 'Import Locations' %}
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% block content %}
<h2>Locaties importeren</h2>
<p>
    Importeer locaties uit een CSV bronbestand. Let hierbij op het volgende:<br>
<ul>
    <li>De kolomnamen moeten gelijk zijn aan de korte namen in de database</li>
    <li>Kolommen moeten gescheiden zijn door een komma ','</li>
    <li>Nieuwe waardes voor keuzelijstje worden automatisch toegevoegd</li>
</ul>
</p>
<form action="." method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <fieldset class="module aligned">
        {% for field in form %}
        <div class="data-label"><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
        <div class="data-value">
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
    </fieldset>
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Import vouchers" formaction="{% url 'location-import' %}">
            Importeren
        </button>
    </div>
</form>

{% endblock %}