{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Export Locaties' %}
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

{% block content %}
<h1>Exporteer Locaties naar CSV</h1>
<div>
    <p>
        Start een de download van een CSV met alle (actieve) locaties<br>
    </p>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="submit_row">
            <input class="default" type="submit" name="_save" value="Download CSV"
                formaction="{% url 'location-export' %}">
        </div>
    </form>
</div>
<br />

{% endblock %}