{% extends 'admin/admin_base.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<h2>{% translate 'Locaties' %}</h2>

<div class="page-filter">
    {{ property_list|json_script:"property-list" }}
    <script type="text/javascript" src="{% static 'js/location-list.js' %}"></script>

    <form action="." method="GET" novalidate>
        {% for field in form %}
            {% if field.name != 'archive' %}
            <div class="filter-option filter-hide">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% else %}
                {% if user.is_authenticated %}
                <div class="filter-option">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}        
        <button class="btn btn-primair" type="submit" formaction="{% url 'locations_urls:location-list' %}">Zoek</button>
    </form>
</div>

<div class="page-content">
    <table class="table-adam">
        <thead>
            <tr>
                <th scope="col" class="column-pancode">Pandcode</th>
                <th scope="col">Naam</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    {{object.pandcode}}
                </td>
                <td>
                    <a href="{% url 'locations_urls:location-detail' object.pandcode %}">
                        {{ object.name }}
                    </a>
                </td>
            </tr>
        {% empty %}
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
    <div class="h5">Toon {{ object_list|length }} van {{ page_obj.paginator.count }} locaties</div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?{% if query %}{{ query }}{% endif %}&page=1">&laquo; Eerste</a>
            <a href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.previous_page_number }}">Vorige</a>
            {% endif %}

            <span class="current">
                Pagina {{ page_obj.number }} van {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.next_page_number }}">Volgende</a>
            <a href="?{% if query %}{{ query }}{% endif %}&page={{ page_obj.paginator.num_pages }}">Laatste &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div class="h5">{{ object_list|length }} locaties gevonden</div>
    {% endif %}

    <div class="btn-container">
        <a href="{% url 'locations_urls:location-export' %}?{{ query }}" class="btn btn-primair">Exporteren</a>
        {% if user.is_authenticated %}
        <a href="{% url 'locations_urls:location-create' %}" class="btn btn-secundair">Aanmaken</a>
        {% endif %}
    </div>
</div>
{% endblock %}
