{% extends 'locations/generic-delete.html' %}
{% load i18n static admin_urls admin_modify utils %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'locations_urls:location-list' %}">Home</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url object|reverse_url:'list' %}">{{ object|verbose_name:'plural' }}</a>
    <span>&rsaquo;</span>
    <a href="{% url object|reverse_url:'update' object.id %}">{{ object.label }}</a>
    <span>&rsaquo;</span>
    Verwijderen
</div>
{% endblock %}


{% block content %}
<h2>{{ object.label }}</h2>

<form action="." method="POST">
    {% csrf_token %}
    <p>Weet je zeker dat je '{{ object.label }}' wilt verwijderen?</p>
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url object|reverse_url:'delete' object.id %}">Verwijderen</button>
        <a href="{% url object|reverse_url:'update' object.id %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}