{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'location-list' %}">{% translate 'Locations' %}</a>
    &rsaquo; {% translate 'New' %}
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<h1>Nieuwe locatie</h1>
<form action="." method="POST">
    <div class="data-view">
        {% csrf_token %}
        <div class="data-view-row">
            <div class="data-label">Pandcode</div>
            <div class="data-value">Wordt automatisch bepaald na het opslaan</div>
        </div>
        {% for field in form %}
        <div class="data-view-row">
            <div class="data-label"><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
            <div class="data-value">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <div class="btn-container">
            <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'location-create' %}">Aanmaken</button>
            <!-- <input class="default" type="submit" name="_save" value="Save" formaction="{% url 'location-create' %}"> -->
            <a href="{% url 'location-list' %}" class="btn btn-secundair">Annuleren</a>
        </div>
    </div>
</form>
{% endblock %}