{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'location-list' %}">{% translate 'Locations' %}</a>
    &rsaquo; {{ location_data.naam }}
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% block content %}
        <div>
            Pandcode: {{ location_data.pandcode }}<br>
            Laatst gewijzigd: {{ gewijzigd }}
        </div>
    {% for field in form %}
        <div>
        {{ field.errors }}
        {{ field.label_tag }} {{ field.value }}
        </div>
    {% endfor %}
    <a href="{% url 'location-update' location_data.pandcode %}">Edit</a>
<br />
{% endblock %}