{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url 'locations_urls:location-list' %}">Locaties</a>
    <span>&rsaquo;</span>
    Toevoegen
</div>
{% endblock %}

{% block content %}
<h2>Nieuwe locatie</h2>
<form action="." method="POST" novalidate>
    <div class="data-view">
        {% csrf_token %}
        <div class="data-view-row">
            <div class="data-label">Pandcode</div>
            <div class="data-value">Wordt automatisch bepaald na het opslaan</div>
        </div>
        {% regroup form by field.group as group_list %}
        {% for group in group_list %}
        <div class="group">
            {% if group.grouper %}<h3>{{ group.grouper }}</h3>{% endif %}
            {% for field in group.list %}
            <div class="data-view-row">
                <div class="data-label">
                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% if field.field.required %}<span class="required-field">*</span>{% endif %}
                </div>
                <div class="data-value">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'locations_urls:location-create' %}">Aanmaken</button>
        <a href="{% url 'locations_urls:location-list' %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>
{% endblock %}

