{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'location-list' %}">{% translate 'Locations' %}</a>
    &rsaquo; <a href="{% url 'location-detail' location_data.pandcode %}">{{ location_data.naam }}</a>
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
{% block content %}
    <form action="." method="POST">
        {% csrf_token %}
        <div>
            Pandcode: {{ location_data.pandcode }}<br>
        </div>
        {{ form }}
        <div class="submit_row">
            <input class="default" type="submit" name="_save" value="Save" formaction="{% url 'location-update' location_data.pandcode %}">
        </div>
    </form>
</div>
<br />
{% endblock %}