{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'location-list' %}">{% translate 'Home' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-detail' location_data.pandcode %}">{{ location_data.naam }}</a>
    <span>&rsaquo;</span>
    Wijzigen
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<h2>{{ location_data.pandcode }} - {{ location_data.naam }}</h2>

<form action="." method="POST">
    <div class="data-view">
        {% csrf_token %}
        <div class="data-view-row">
            <div class="data-label">Pandcode</div>
            <div class="data-value">{{ location_data.pandcode }}</div>
        </div>
        {% for field in form %}
        <div class="data-view-row">
            <div class="data-label"><label for="{{ field.auto_id }}">{{ field.label }}</label></div>
            <div class="data-value">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'location-update' location_data.pandcode %}">Opslaan</button>
        <a href="{% url 'location-detail' location_data.pandcode %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}