{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'location-list' %}">{% translate 'Home' %}</a>
    {% if user.is_authenticated %}
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    {% endif %}
    <span>&rsaquo;</span>
    {{ location_data.naam }}
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
{% if location_data.archief %}
<div class="alert alert-info">
    <div class="title">Gearchiveerd</div>
    <p>De locatie is gearchiveerd op {{ location_data.gewijzigd }}.</p>
</div>
{% endif %}
<h2>{{ location_data.pandcode }} - {{ location_data.naam }}</h2>
<small>
    gewijzigd op {{ location_data.gewijzigd }} | aangemaakt op {{ location_data.aangemaakt }}
</small>

<dl class="data-view">
    <div class="data-view-row">
        <dt class="data-label">Pandcode</dt>
        <dd class="data-value">{{ location_data.pandcode }}</dd>
    </div>
    {% for field in form %}
    <div class="data-view-row">
        <dt class="data-label">{{ field.label }}</dt>
        <dd class="data-value">{% if field.value %}{{ field.value }}{% endif %}</dd>
    </div>
    {% endfor %}
</dl>
<div class="btn-container">
    {% if user.is_authenticated %}
        {% if not location_data.archief %}
        <a href="{% url 'location-update' location_data.pandcode %}" class="btn btn-primair">Wijzigen</a>
        {% endif %}

        <form action="." method="POST">
            {% csrf_token %}
            {% if location_data.archief %}
            <input name="_archive" type="hidden" value="dearchive">
            {% else %}
            <input name="_archive" type="hidden" value="archive">
            {% endif %}
            <button class="btn btn-secundair" type="submit"
                formaction="{% url 'location-detail' location_data.pandcode %}">{{ location_data.archief|yesno:"Dearchiveren,Archiveren" }}</button>
        </form>
    {% endif %}
    <a href="{% url 'location-list' %}" class="btn btn-secundair">Terug</a>
</div>
{% endblock %}