{% extends 'admin/admin_base.html' %}
{% load i18n admin_urls static admin_modify utils %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/">Home</a>
    {% if user.is_authenticated %}
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    {% endif %}
    <span>&rsaquo;</span>
    <a href="{% url 'locations_urls:location-list' %}">Locaties</a>
    <span>&rsaquo;</span>
    {{ location_data.naam }}
</div>
{% endblock %}

{% block content %}
{% if location_data.archief %}
<div class="alert alert-info">
    <div class="title">Gearchiveerd</div>
    <p>De locatie is gearchiveerd op {{ location_data.gewijzigd }}.</p>
</div>
{% endif %}
<h2>{{ location_data.pandcode }} - {{ location_data.naam }}</h2>
<small>
    gewijzigd op {{ location_data.gewijzigd }} | aangemaakt op {{ location_data.aangemaakt }}
</small>

<dl class="data-view">
    {% regroup form by field.group as group_list %}
    {% for group in group_list %}
    <div class="group">
    {% if group.grouper %}<h3>{{ group.grouper }}</h3>{% endif %}
    {% if not group.grouper %} <!-- Add this to the first group with no name -->
    <div class="data-view-row">
        <dt class="data-label">Pandcode</dt>
        <dd class="data-value">{{ location_data.pandcode }}</dd>
    </div>
    {% endif %}
        {% for field in group.list %}
        <div class="data-view-row">
            <dt class="data-label">{{ field.label }}</dt>
            <dd class="data-value">
                {% if field.value %}
                    {% if field.value|get_type == 'list' %}
                        {{ field.value|join:", " }}
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                {% else %}
                -
                {% endif %}
            </dd>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</dl>
<div class="btn-container">
    {% if user.is_authenticated %}
        {% if not location_data.archief %}
        <a href="{% url 'locations_urls:location-update' location_data.pandcode %}" class="btn btn-primair">Wijzigen</a>
        {% endif %}
        <a href="{% url 'location-detail-log' location_data.pandcode %}" class="btn btn-secundair">Logs</a>

        <form action="." method="POST">
            {% csrf_token %}
            {% if location_data.archief %}
            <input name="_archive" type="hidden" value="dearchive">
            {% else %}
            <input name="_archive" type="hidden" value="archive">
            {% endif %}
            <button class="btn btn-secundair" type="submit"
                formaction="{% url 'locations_urls:location-detail' location_data.pandcode %}">{{ location_data.archief|yesno:"Dearchiveren,Archiveren" }}</button>
        </form>
    {% endif %}
    <a href="{% url 'locations_urls:location-list' %}" class="btn btn-secundair">Terug</a>
</div>
{% endblock %}