{% extends 'locations/generic-list.html' %}
{% load i18n static admin_urls admin_modify utils %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'locations_urls:location-list' %}">Home</a>
    <span>&rsaquo;</span>
    <a href="{% url 'location-admin' %}">{% translate 'Beheer' %}</a>
    <span>&rsaquo;</span>
    <a href="{% url object|reverse_url:'list' %}">{{ object|verbose_name:'plural' }}</a>
    <span>&rsaquo;</span>
    {{ object.label }}
    <span>&rsaquo;</span>
    Wijzigen
</div>
{% endblock %}

{% block content %}
<h2>{{ object.label }}</h2>

<form action="." method="POST" novalidate>
    {% csrf_token %}
    <div class="data-view-row">
        <div class="data-label">Gegevens type</div>
        <div class="data-value">{{ object.get_property_type_display }}</div>
    </div>
    {% for field in form %}
    <div class="data-view-row">
        <div class="data-label">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% if field.field.required %}<span class="required-field">*</span>{% endif %}
        </div>
        <div class="data-value">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    {% if object.property_type == 'CHOICE' and property_options|length > 0 %}
    <div class="data-view-row">
        <div class="data-label">Keuze opties</div>
        <div class="data-value">
            <dl class="data-view">
                {% for field in property_options %}
                <div class="data-view-row">
                    <dd class="data-value"><a href="{% url 'propertyoption-update' object.id field.id %}">{{ field.option }}</a></dd>
                </div>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% endif %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save"
            formaction="{% url object|reverse_url:'update' object.id %}">Opslaan</button>
        <a href="{% url object|reverse_url:'list' %}" class="btn btn-secundair">Annuleren</a>
        <a href="{% url object|reverse_url:'delete' object.id %}" class="btn btn-secundair">Verwijderen</a>
        <a href="{% url 'propertyoption-create' object.id %}" class="btn btn-secundair">Optie toevoegen</a>
    </div>
</form>

{% endblock %}