{% extends 'admin/admin_base.html' %}
{% load i18n static admin_urls admin_modify %}

{% block content %}
<ul class="data-list">
    <li>
        <a href="{% url 'location-list' %}">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" d="m9.757 32-2.9-2.91L19.937 16 6.857 2.91 9.757 0l16 16z"></path>
                </svg>
            </span>
            Locaties
        </a>
    </li>
    <li>
        <a href="/admin/locations/locationproperty">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" d="m9.757 32-2.9-2.91L19.937 16 6.857 2.91 9.757 0l16 16z"></path>
                </svg>
            </span>
            Locaties eigenschappen
        </a>
    </li>
    <li>
        <a href="/admin/locations/externalservice">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" d="m9.757 32-2.9-2.91L19.937 16 6.857 2.91 9.757 0l16 16z"></path>
                </svg>
            </span>
            Externe koppelingen
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" d="m9.757 32-2.9-2.91L19.937 16 6.857 2.91 9.757 0l16 16z"></path>
                </svg>
            </span>
            Data importeren
        </a>
    </li>
    <li>
        <a href="#">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false">
                    <path fill-rule="evenodd" d="m9.757 32-2.9-2.91L19.937 16 6.857 2.91 9.757 0l16 16z"></path>
                </svg>
            </span>
            Data exporteren
        </a>
    </li>
</ul>
{% endblock %}
