{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
{% if location %}
| {{ location.name }} logs
{% else %}
| Logs
{% endif %}
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
{% if location %}
<a href="{% url 'locations_urls:location-log' %}">Logs</a>
<span>&rsaquo;</span>
{{ location.name }}
{% else %}
Logs
{% endif %}
{% endblock %}

{% block content %}
{% if location %}
<h2>Log van {{ location.pandcode }} - {{ location.name }}</h2>
{% else %}
<h2>Logs</h2>
{% endif %}
<div class="page-content">
    <table class="table-adam">
        <thead>
            <tr>
                <th scope="col" class="column-pancode">Datum/tijd</th>
                <th scope="col">Door</th>
                <th scope="col">Wat</th>
                <th scope="col">Naam</th>
                <th scope="col">Veld</th>
                <th scope="col">Log bericht</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    {{object.timestamp}}
                </td>
                <td>
                    {{ object.user }}
                </td>
                <td>
                    {{ object.content_type.name }}
                </td>
                <td>
                    {{ object.object_name }}
                </td>
                <td>
                    {{ object.field }}
                </td>
                <td>
                    {{ object.message }}
                </td>
            </tr>
            {% empty %}
            Geen wijzigingen gevonden.
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="btn-container">
    {% if location %}
    <a href="{% url 'locations_urls:location-detail' location.pandcode %}" class="btn btn-secundair">Terug</a>
    {% else %}
    <a href="{% url 'locations_urls:location-admin'%}" class="btn btn-secundair">Terug</a>
    {% endif %}
</div>
{% endblock %}