{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ model|verbose_name:'plural' }}
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-list' %}">{{ location_property|verbose_name:'plural' }}</a>
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-update' location_property.id %}">{{ location_property.label }}</a>
<span>&rsaquo;</span>
Keuze opties
{% endblock %}

{% block content %}
<h2>{{ model|verbose_name:'plural' }}</h2>
<div class="page-content">
    <table class="table-adam">
        <thead>
            <tr>
                <th scope="col">Opties</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'locations_urls:propertyoption-update' location_property.id object.id %}">{{ object.option }}</a>
                </td>
            </tr>
            {% empty %}
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-container">
        <a href="{% url 'locations_urls:propertyoption-create' location_property.id %}" class="btn btn-primair">Aanmaken</a>
        <a href="{% url 'locations_urls:locationproperty-update' location_property.id %}" class="btn btn-secundair">Terug</a>
    </div>
</div>
{% endblock %}