{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ object.option }} verwijderen
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-list' %}">{{ object.location_property|verbose_name:'plural' }}</a>
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-update' object.location_property.id %}">{{ object.location_property.label }}</a>
<span>&rsaquo;</span>
<a href="{% url object|reverse_url:'update' object.location_property.id object.id %}">{{ object.option }}</a>
<span>&rsaquo;</span>
Verwijderen
{% endblock %}

{% block content %}
<h2>Verwijder optie {{ object.option }} uit {{ object.location_property.label }}</h2>
<h2>{% if object.label %}{{ object.label }}{% else %}{{ object.name }}{% endif %}</h2>
<p>
    <p>Weet je zeker dat je '{{ object.option }}' uit {{ object.location_property.label }} wilt verwijderen?</p>
</p>
{% if locations_affected > 0 %}
<p>
    Door deze wijziging worden {{ locations_affected }} locaties aangepast.
</p>
{% endif %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'locations_urls:propertyoption-delete' object.location_property.id object.id %}">Verwijderen</button>
        <a href="{% url 'locations_urls:propertyoption-update' object.location_property.id object.id %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}