{% extends 'site-base.html' %}
{% load i18n static utils %}

{% block title %}
| {{ location_property.label }} optie aanmaken
{% endblock %}

{% block extra-breadcrumbs %}
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-list' %}">{{ location_property|verbose_name:'plural' }}</a>
<span>&rsaquo;</span>
<a href="{% url 'locations_urls:locationproperty-update' location_property.id %}">{{ location_property.label }}</a>
<span>&rsaquo;</span>
Optie
<span>&rsaquo;</span>
Toevoegen
{% endblock %}

{% block content %}
<h2>Nieuwe optie in {{ location_property.label }}</h2>

<form action="." method="POST" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div class="data-view-row">
        <div class="data-label">
            <label for="{{ field.auto_id }}">{{ field.label }}</label>
            {% if field.field.required %}<span class="required-field">*</span>{% endif %}
        </div>
        <div class="data-value">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="btn-container">
        <button class="btn btn-primair" type="submit" name="_save" value="Save" formaction="{% url 'locations_urls:propertyoption-create' location_property.id  %}">Aanmaken</button>
        <a href="{% url 'locations_urls:propertyoption-list' location_property.id %}" class="btn btn-secundair">Annuleren</a>
    </div>
</form>

{% endblock %}